@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 330 0% 95.1%;
    --foreground: 30 0% 18.4%;
    --card: 334.3 0% 88.8%;
    --card-foreground: 30 0% 18.4%;
    --popover: 342.9 0% 69.8%;
    --popover-foreground: 338.2 0% 10%;
    --primary: 13.8 62.9% 43.3%;
    --primary-foreground: 338.2 0% 10%;
    --secondary: 342.9 0% 69.8%;
    --secondary-foreground: 338.2 0% 10%;
    --muted: 330 0% 85.1%;
    --muted-foreground: 334.3 0% 57.8%;
    --accent: 330 0% 95.1%;
    --accent-foreground: 30 0% 18.4%;
    --destructive: 357.2 100% 29%;
    --destructive-foreground: 0 0% 90%;
    --border: 342.9 0% 69.8%;
    --input: 342.9 0% 69.8%;
    --ring: 13.8 62.9% 43.3%;
    --radius: 0.5rem;
    --chart-1: 13.8 62.9% 80%;
    --chart-2: 342.9 0% 60.2%;
    --chart-3: 330 0% 44.9%;
    --chart-4: 330 0% 54.9%;
    --chart-5: 13.8 62.9% 80%;

    --success: 142 76% 56%;

    --sidebar-background: 0 0% 92%;
    --sidebar-foreground: 0 0% 38%;
    --sidebar-primary: 14 63% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 75%;
    --sidebar-accent-foreground: 30 0% 18.4%;
    --sidebar-border: 0 0% 67%;
    --sidebar-ring: 14 63% 40%;
  }

  .dark {
    --background: 330 0% 14.9%;
    --foreground: 30 2.1% 81.6%;
    --card: 334.3 0% 12.2%;
    --card-foreground: 30 2.1% 81.6%;
    --popover: 342.9 0% 30.2%;
    --popover-foreground: 338.2 0% 100%;
    --primary: 13.8 72.9% 56.7%;
    --primary-foreground: 338.2 0% 100%;
    --secondary: 342.9 0% 30.2%;
    --secondary-foreground: 338.2 0% 100%;
    --muted: 330 0% 14.9%;
    --muted-foreground: 334.3 0% 42.2%;
    --accent: 330 0% 14.9%;
    --accent-foreground: 30 2.1% 81.6%;
    --destructive: 357.2 125.9% 71%;
    --destructive-foreground: 0 0% 0%;
    --border: 342.9 0% 30.2%;
    --input: 342.9 0% 30.2%;
    --ring: 13.8 72.9% 56.7%;
    --radius: 0.5rem;
    --chart-1: 13.8 72.9% 56.7%;
    --chart-2: 342.9 0% 30.2%;
    --chart-3: 330 0% 14.9%;
    --chart-4: 330 0% 24.9%;
    --chart-5: 13.8 72.9% 66.7%;

    --success: 142 76% 32%;

    --sidebar-background: 0 0% 7%;
    --sidebar-foreground: 30 2% 56%;
    --sidebar-primary: 14 73% 49%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 25%;
    --sidebar-accent-foreground: 30 2.1% 81.6%;
    --sidebar-border: 0 0% 22%;
    --sidebar-ring: 14 73% 49%;
  }
}

@layer base {
  .indicator {
    @apply relative inline-flex max-w-max;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-visible {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }

  .shimmer-wrapper-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      hsla(0, 0%, 100%, 0) 0%,
      hsla(0, 0%, 100%, 0.8) 50%,
      hsla(0, 0%, 100%, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
  }

  .shimmer-wrapper-dark-primary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      hsla(0, 0%, 100%, 0) 0%,
      hsl(var(--primary)) 50%,
      hsla(0, 0%, 100%, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    opacity: 0.2;
  }

  .shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      hsla(210, 17%, 98%, 0) 0%,
      hsla(0, 0%, 87%, 0.1) 50%,
      hsla(210, 17%, 98%, 0) 100%
    );

    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
  }

  .shimmer-wrapper-primary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      hsla(210, 17%, 98%, 0) 0%,
      hsla(var(--primary)) 50%,
      hsla(210, 17%, 98%, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    opacity: 0.2;
  }

  @keyframes shimmer {
    0% {
      background-position: -250%;
    }
    100% {
      background-position: 250%;
    }
  }

  .shimmer-animation {
    @apply shimmer-wrapper dark:shimmer-wrapper-dark;
  }
  .shimmer-animation-primary {
    @apply shimmer-wrapper-primary dark:shimmer-wrapper-dark-primary;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (min-width: 768px) {
  /* Size */
  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track,
  .scrollbar-visible::-webkit-scrollbar-track {
    border-radius: 999999px;
    background: hsla(215.4, 16.3%, 46.9%, 0.6);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb,
  .scrollbar-visible::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.4);
    border-radius: 9999px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -100%;
  }
  100% {
    background-position: 100%;
  }
}

.animate-shimmer {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 25%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.1) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

landing-page {
}

.landing-page h2 {
  @apply font-bold text-4xl lg:text-6xl tracking-tight my-6 md:my-8 text-center;
}

/* global.css */

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  color: var(--primary);
  font-weight: bold;
}

.prose a {
  color: var(--primary);
  text-decoration: none;
  transition:
    color 0.3s ease,
    text-decoration 0.3s ease;
}

.prose a:hover {
  text-decoration: underline;
}

.prose {
  --primary: #1e90ff; /* Replace with your primary color */
}

.notification-email {
}

.notification-email ul {
  list-style-type: disc; /* Adds bullet points */
  margin-left: 1.5rem; /* Indents the list */
}
.notification-email li {
  margin-bottom: 0.5rem; /* Optional spacing between list items */
}
